body {
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    font-family: "ＭＳ Ｐゴシック";
    font-smooth: never;
    -webkit-font-smoothing : none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    /* padding: 20px; */
    /* background-color: rgb(226, 27, 120, 0.75); */
    background-color: blueviolet;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
    line-height: 2vh;
}

h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

main {
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(211, 0, 105, 0.6);
    border-radius: 5px;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: 20px;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

span {
    color: lime;
}

h4, h5{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: red;
    text-decoration: none;
}

#exp em{
    color: red;
    font-size: larger;
}

#exp h3{
    text-align: center;
}